<script>$(function () { $("#myNavbar").find("[href='/function/review']").parent().addClass("active"); })</script>
@*<script src="~/Scripts/MapViewControl.js"></script>*@
<script src="~/Scripts/reviewPothole.js"></script>
@using Capstone.Web.Models
@model List<PotholeModel>

@{
    ViewBag.Title = "Employee Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        placePotholes(@Html.Raw(Json.Encode(Model.ToArray())), "");
    })
</script>

<div id="reviewPanel" class="col-lg-4">
    <table class="table">
        @Html.Action("GetEmployeePortalList", "Function")
    </table>
</div>


<div class="col-lg-8">
    <div id="map"></div>
</div>

@*https://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452&key=AIzaSyAPiyVpokXSqtRW8T58W_gFi9YutxN-ZlA*@
