body{
    height:100%;
}

.field-validation-error {
    color: red;
    text-align: center;
}

#map {
    height: 500px;
    width: 100%;
}

nav.navbar.navbar-default{
    margin-bottom: 0px;
    border-top:0px;
}

.navbar-brand{
    font-weight:600;
}

.employeeMap{
    width:70% !important;
}