body{
    height:100%;
}

.field-validation-error {
    color: red;
    text-align: center;
}

#map {
    height: 620px;
    /*width: 100%;*/
}

nav.navbar.navbar-default{
    margin-bottom: 0px;
    border-top:0px;
}

.navbar-brand{
    font-weight:600;
}

.employeeMap{
   
}

#reviewPanel{
    display:inline-block;
    /*overflow-y: scroll;*/
    overflow: auto;
    height: 620px;
}

.streetAddress1{
    font-weight:bold;
}
#lat1{
    /*text-align:left !important;*/
    font-size:x-small;
    display:inline;
    /*float:left;*/
}
#lon1{
    /*text-align:left !important;*/
    font-size:x-small;
    display:inline;
}